@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    width: 112px;
    height: 32px;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
    color: #f9faf8;
    font-weight: 700;
}

img {
    max-width: 100%;
}

.hero {
    background-color: #1f2937;
    padding-bottom: 96px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 64px 200px;
}

.logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.headerText {
    display: flex;
    flex-direction: column;
}

.title  {
    display: flex;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    width: 520px;
}

.subtext {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    width: 450px;
    padding-bottom: 16px;
}

.headerImg {
    align-items: flex-end;
    width: 450px;
}

.placeholder {
    display: flex;
    background-color: gray;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.content {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 0 200px 0 200px;
}

.randomBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
}

.randomText {
    display: flex;
}