@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    width: 100px;
    height: 32px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 700;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;    
}

.logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.headerText {
    display: flex;
}

.title  {
    display: flex;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    width: 540px;
}

.subtext {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    width: 540px;
}

.placeholder {
    display: flex;
    background-color: gray;
    color: #f9faf8;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}